.boxcont {
	background-color: $boxContBackground;
	margin: 25px auto;
	padding: 50px;
	width: 760px;
	border: double 4px $boxContBorder;
	border-radius: 3px;
	color: $boxContColor;
	font-size: 20px;
	text-indent: 50px;
	line-height: 30px;
}

.reglog {
	display: flex;
	justify-content: space-around;
	margin: 40px auto 0 auto;
	width: 100%;
}
