.buttonr {
  width: 200px;
	margin: 5px auto 5px auto;
	padding: 15px;
	border-radius: 10px;
  border: double 1px $buttonBorder;
	background: $buttonBackground1;
  background: linear-gradient($buttonBackground2, $buttonBackground1, $buttonBackground2);
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	text-shadow: $buttonTextShadow;
	transition: all 0.5s;
	cursor: pointer;
  box-shadow: $buttonBoxShadow;
  span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
}

.buttonr:hover span {
  padding-right: 25px;
}

.buttonr:hover span:after {
  opacity: 1;
  right: 0;
}


.register {
  position: fixed;
  top: 230px;
  display: flex;
  flex-direction: column;
	background-color: red; //rgba(50, 250, 50, 0.2);
	border: double 1px #555555;
	border-radius: 3px;
  z-index: 99;
}

.inpp {
  //background-color: blue;
}

#inpca {
	background: #999999; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#707070, #999999, #EEEEEE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#707070, #999999, #EEEEEE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#707070, #999999, #EEEEEE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#707070, #999999, #EEEEEE); /* Standard syntax (must be last) */
	opacity: 0.8;
	margin: 2px auto 2px auto;
	padding-bottom: 5px;
	text-align: center;
	width: 302px;
	border: double 1px #555555;
	border-radius: 3px;
}

#reca {
	width: 270px;
	margin-left: 5px;
	margin-right: 5px;
}
