header{
  display: flex;
  align-content: space-between;
}

.logo
{
  margin: 50px 5px auto;
	width: 860px;
	height: 150px;
	text-align: center;
	color: $logoColor;
	font-size: 100px;
	font-family: 'Audiowide', cursive;
	text-shadow: $logoTextShadow;
}

.logbat{
  display: flex;
  align-items: flex-end;
  margin: 50px 5px auto;
  width: 200px;
  height: 150px;
  text-align: right;
}
