footer
{
  display: flex;
  align-content: space-between;
}

.footerBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 5px;
	width: 1050px;
  background-color: $boxContBackground;
  border: double 4px $boxContBorder;
  border-radius: 3px;
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.footBoxEl
{
  display: flex;
  align-items: center;
  margin: 5px 5px;
  font-size: 20px;
}
