.section
{
  display: flex;
  align-content: space-between;
}

.gMenu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
	width: 220px;
  background-color: $boxContBackground;
  border: double 4px $boxContBorder;
  border-radius: 3px;
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.buttonMenu
{
  width: 190px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: double 1px $buttonBorder;
  background: $buttonBackground1;
  background: linear-gradient($buttonBackground2, $buttonBackground1, $buttonBackground2);
  color: #FFFFFF;
  text-align: center;
  text-shadow: $buttonTextShadow;
  box-shadow: $buttonBoxShadow;
  font-size: 15px;
  font-family: 'Audiowide', cursive;
}

.infofoPoz
{
  display: flex;
  align-items: center;
  margin: 0px 5px;
  font-size: 20px;
}

.gameboxcont
 {
	background-color: $boxContBackground;
	margin: 5px;
	width: 860px;
	border: double 4px $boxContBorder;
	border-radius: 3px;
	color: $boxContColor;
	font-size: 20px;
}

.menuBoxI
{
  display: flex;
  flex-direction: row;
}

.menuMenu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
  padding: 5px 0px;
	width: 170px;
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.buttonMenuMenu
{
  width: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: double 1px $buttonBorder;
  background: $buttonBackground1;
  background: linear-gradient($buttonBackground2, $buttonBackground1, $buttonBackground2);
  color: #FFFFFF;
  text-align: center;
  text-shadow: $buttonTextShadow;
  box-shadow: $buttonBoxShadow;
  font-size: 15px;
}

.boxBoxI
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
	width: calc(100% - 10px);
  border: double 4px $boxContBorder;
  border-radius: 3px;
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.boxBoxIZa
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.boxBoxPod
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.boxBoxPodBox
{
  display: flex;
  flex-direction: rows;
  justify-content: center;
  margin: 5px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}

.boxBoxPodBoxW
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
	color: $logoColor;
	font-family: 'Audiowide', cursive;
}
